@font-face {
   font-family: 'TkachenkoSketch4F-Bold';
   src: url(./fonts/TkachenkoSketch4F-Bold.ttf);
}

@font-face {
   font-family: 'TkachenkoSketch4F-Regular';
   src: url(./fonts//TkachenkoSketch4F-Regular.ttf);
}

body {
   background-image: url(./img/background.jpg);
   background-repeat: no-repeat;
   background-position: 0% 0%;
   background-size: cover;
}

img {
   width: 100%;
}

.container-bayan {
   font-family: 'TkachenkoSketch4F-Bold';
   font-size: 100px;
   color: red;
   margin: auto;
   width: 45%;
}

@media (max-width: 1141px) {
   .container-bayan {
      font-size: 75px;
   }
}

@media (max-width: 990px) {
   .container-bayan {
      font-size: 45px;
   }
}

@media (max-width: 550px) {
   .container-bayan {
      font-size: 30px;
   }
}

@media (max-width: 460px) {
   .container-bayan {
      font-size: 20px;
   }
}

.bayan-header {
   text-align: center;
}

.accordion:hover {
   cursor: pointer;
}

.accordion-item {
   position: relative;
   display: flex;
   flex-direction: column;
}

.accordion-item__input {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

.accordion-item__trigger {
   display: block;
   text-align: center;
   cursor: pointer;
}

@media (max-width: 1624px) {
   .accordion-item__trigger {
      font-size: 75px;
   }
}

@media (max-width: 1166px) {
   .accordion-item__trigger {
      font-size: 45px;
   }
}
@media (max-width: 758px) {
   .accordion-item__trigger {
      font-size: 25px;
   }
}

@media (max-width: 460px) {
   .accordion-item__trigger {
      font-size: 15px;
   }
}

.bayan-img {
   display: none;
   border-top: none;
}

.accordion-item__input:checked ~ .accordion-item__trigger .bayan-img {
   display: block;
}

.accordion-item:hover .bayan-img {
   display: block;
}
