@font-face {
   font-family: 'TkachenkoSketch4F-Bold';
   src: url(./fonts/TkachenkoSketch4F-Bold.ttf);
}

@font-face {
   font-family: 'TkachenkoSketch4F-Regular';
   src: url(./fonts//TkachenkoSketch4F-Regular.ttf);
}

body {
   background-image: url(./img/background.jpg);
   background-repeat: no-repeat;
   background-position: 50% 0%;
   background-size: cover;
}

img {
   width: 100%;
}

.container-bayan {
   font-family: 'TkachenkoSketch4F-Bold';
   font-size: 5vw;
   color: red;
   margin: auto;
   width: 45%;
   
}

@media (max-width: 1180px) {
   .container-bayan {
   font-size: 4vw;
   }
}
@media (max-width: 568px) {
   .container-bayan {
   font-size: 3vw;
   }
}

.bayan-header {
   text-align: center;
}

.accordion:hover {
   cursor: pointer;
}

.accordion-item {
   display: flex;
   flex-direction: column;
   
}

.accordion-item__input {
   display: none;
}

.accordion-item__trigger {
   text-align: center;
   cursor: pointer;
}

.bayan-img2 {
   width: 100%;
}

.bayan-img {
   display: block;
   transition: 2s;
   max-height: 0;
   overflow: hidden;
}

.accordion-item__input:checked ~ .accordion-item__trigger .bayan-img {
   max-height: 50em;
}

.accordion-item:hover .bayan-img {
   max-height: 50em;
}
